body {
	background-color: lightgray;
}
div {
	color: white;
	padding: 20px;
	margin: 20px;
	border: 15px double black;
	display: inline-block;
}

#day {background-color: orange;
width: 30%;
border-radius: 100px;}

#night {background-color: purple;
width: 30%;}

#N {background-color: blue;
border: 10px dashed black;
width: 30%;
}