body {
	background-color: skyblue;                                                         
	 }

h1 {
	 	color: ;
	 	text-align: center;
	 	font-size: 40px;
	 	font-weight: lighter;
	    }

table, th,td {
	    	margin-left: auto;
	    	margin-right: auto;
	    	border: 1px solid brown;
	    	padding: 10px;
	    	}

th {
	color: red;
}
th.una{
color:blue;
}
th.second {
	text-align: right;
}
 table{
 	width:100%;
 	height:100%;
 }
	
